.ma-no-h {margin-left: 0px !important; margin-right:0px !important;}
.ma-no-v {margin-top: 0px !important; margin-bottom: 0px !important;}
.pa-no-h {padding-left: 0px !important; padding-right:0px !important;}
.pa-no-v {padding-top: 0px !important; padding-bottom: 0px !important;}
.text-left-important {text-align: left !important;}
.text-center-important {text-align: center !important;}

#menu_1 input[type=text] {color: #888;}

.presentation_pseudo{ color: #fff;}

#menu_connected {width:100%;vertical-align: top;}
#menu_connected li {display: inline; margin:0% 3%;}
#menu_connected li a {font-size: 1.7em; text-shadow: -1px 0 2px #848484, 0 1px 2px #848484, 1px 0 2px #848484, 0 -1px 2px #848484;}
#menu_connected ul {text-align: center;}
#menu_connected .active a{font-size: 3em; text-decoration: underline;}

.block {display:block;}

.menu_box {z-index:30;}

#corps {color: #fff; padding-top: 10px; padding-bottom: 60px;}
#corps input {color: #222;}

/* Partie des listes */
.liste {margin: 20px 0px; line-height: 45px; font-size:22px; cursor:pointer;}
.liste_details .liste {cursor:default;}
.liste .quitter {display:none; color:#f00; font-size: 28px; float: right; line-height: 45px;}
.liste:hover .quitter {display:inline-block !important;}

.liste > div {height: 50px; border: 2px #984807 solid; overflow: hidden;}
.liste .icone {border-top-left-radius: 40px; border-bottom-left-radius: 40px; min-width: 40px;}
.liste .nom {margin-left: 2%; border-top-right-radius: 40px; border-bottom-right-radius: 40px;}
@media only screen and (max-width : 500px)
{
    .liste .nom {margin-left: 0%;}
}
.liste .icone {text-align: right; font-size: 30px;}

.message_flash {width:90%; margin-left: 5%; margin-top: 12px;}
.message_flash div {width: 100%; padding: 10px; border-radius: 10px; text-align: center;}
.message_flash span {font-size: 18px;} 

.message_flash .error {border: 2px #f12 solid; background-color: #fbb;}
.message_flash .error span {color: #f10;}
.message_flash .info {border: 2px #2f2 solid; background-color: #bfb;}
.message_flash .info span {color: #0A1;} 
.message_flash .warning {border: 2px #f9C solid; background-color: #fc6;}
.message_flash .warning span {color: #f90;} 

.invitation .titre {margin-left: 20px;}
.invitation .titre strong {color: #084;}
.invitation .col-md-3 {margin-bottom: 15px;}
.invitation .menu_box {
    position:initial;
    display: block;
}
.invitation .menu_box form {padding-left: 10px; padding-bottom: 10px;}

.simplecolorpicker {width: auto !important;}
.simplecolorpicker .color {width: 20px !important;}