body {
    background-image: url("../images/fond.png");
    background-size: 60%;
    font-size: 14px;
    font-family: "Comic Sans MS";
    margin: 0;
    padding: 0;
}
div {
    margin: 0;
    padding: 0;
}
header {
    background-color: #084;
    margin: 0;
    padding: 0;
}
header {
    background-image: url("../images/banniere.jpg");
    background-size: 100% 100%;
    padding:15px 0;
    
}
footer {
    background-image: url("../images/banniere.jpg");
    background-size: 100%;
    padding:15px 0;
}
.rotation {  
    transform: rotate(-9deg); 
    -ms-transform: rotate(-9deg); /* IE 9 */
    -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
    -o-transform: rotate(-9deg); /* Opera old*/
    -moz-transform: rotate(-9deg); /* firefox */
    color: #ffffff;
    font-size:32px;
    font-weight: 900;
    padding: 0 5px 0 0;
    display:inline-block;
    text-align: center;
}

#logo {
    width:120px;
}
.ban1 {
    display: inline-block;
    width: 20%;
    min-width: 220px;
    text-align: center; 
    padding: auto;
}
.ban2a {
    display: inline-block;
    width: 20%;
}
.ban2b {
    display: inline-block;
    min-width: 300px;
    padding: auto;
}

.clean {
    clear: both;
}
footer {
    background-color: #084;
    position:fixed;
    width: 100%;
    bottom: 0;
    padding: 5px;
}
footer li {
    color:white;
    float: right;
    margin: 2px 15px;
}


a {
    font-size: 14px;
    font-family: "Comic Sans MS";
}

#menu_1{
    display:inline-block;
}

div[id^=menu] a, button {
    color: #ffffff;
    font-size:14px;
    font-weight: 600;
    padding: 0 5px;
}

div[id^=menu] a:hover {
    color: #0f0;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

#corps {
    ___background-image: url("/images/fond.png");
}

.style_police {
    color:white;
    font-size: 2em;
    font-family: "Comic Sans MS";
}

.menu_box {
    display: none;
    position: absolute;
    background-color: #47D147;
    border: 5px solid white;
    border-radius: 10px;
    padding: auto;
    margin: 5px 0 0 0;
}
#menu_conn_box { width:50%;max-width: 300px;min-width:180px;z-index: 998;}
#menu_insc_box { width:50%;max-width: 300px;min-width:180px;z-index: 999;}
.menu_box span { width: 81px;text-align: right;display: inline-block;padding-right: 5px;}
.menu_box input {
    display:inline;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    text-align: center;
}
button {
    background-color: #5cb85c;
    border: 5px solid white;
    border-radius: 15px;
    padding: 3px 10px;
    margin:3px;
}

button:hover {
    background-color: #0a0;
}

div[id^=block_] {
    float:left;
    border: 5px solid white;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 10px;
}
