body {
    /*color:black;*/
    background-color: #084;
    font-size: 14px;
    font-family: "Comic Sans MS";
}

header {
    background-color: #084;
    padding: 15px;
}
header #banniere {
    background-image: url("/images/banniere.png");
    background-size: 100%
}
header img {
    /*position: absolute;*/
    display: block;
    margin-left: auto;
    margin-right: auto
    
}
footer {
    background-color: #084;
    border: 0px solid black;
    position:fixed;
    width: 100%;
    bottom: 0;
    padding: 5px;
}
footer li {
    float: right;
    margin: 2px 15px;
}

.clean{
    clear: both;
}

a {
    font-size: 14px;
    font-family: "Comic Sans MS";
}

div[id^=menu] a, button {
    color: #ffffff;
    font-size:14px;
    font-weight: 600;
}

div[id^=menu] a:hover {
    color: #0f0;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

#corps {
    background-image: url("/images/fond.png");
}

.style_police {
    color:white;
    font-size: 2em;
    font-family: "Comic Sans MS";
}

.menu_box {
    display: none;
    position: absolute;
    background-color: #47D147;
    border: 5px solid white;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 10px 0 0 0;
}

button {
    background-color: #5cb85c;
    border: 5px solid white;
    border-radius: 15px;
    padding: 3px 10px;
}

button:hover {
    background-color: #0a0;
}